In [1]:
liked_book = ["4788505","3588","3353110","48790","861986","319976","767554","22056601"]

In [2]:
file_path = "Dataset/book_id_map.csv"

# Open the file
with open(file_path, "r") as file:
    # Read the first 5 lines
    for i in range(10):
        line = file.readline().strip()  # Strip any trailing newline characters
        print(line)

book_id_csv,book_id
0,34684622
1,34536488
2,34017076
3,71730
4,30422361
5,33503613
6,33517540
7,34467031
8,6383669

In [3]:
csv_book_mapping = {}

with open(file_path, "r") as f:
  while True:
    line = f.readline()
    if not line:
      break
    csv_id, book_id = line.strip().split(",")
    csv_book_mapping[csv_id] = book_id

In [4]:
len(csv_book_mapping)

2360651

In [5]:
#get the users likes same books in liked_book array

overlap_users = set()

file_path_interaction = "Dataset/goodreads_interactions.csv"

with open(file_path_interaction, 'r') as f:
  while True:
    line = f.readline()
    if not line:
      break

    user_id, csv_id, _ , rating, _ = line.split(",")

    if user_id in overlap_users:
      continue

    try:
      rating = int(rating)
    except ValueError:
      continue

    book_id = csv_book_mapping[csv_id]

    if book_id in liked_book and rating>=4:
      overlap_users.add(user_id)

In [6]:
rec_lines = []

file_path_interaction = "Dataset/goodreads_interactions.csv"

with open(file_path_interaction, 'r') as f:
  while True:
    line = f.readline()
    if not line:
      break

    user_id, csv_id, _ , rating, _ = line.split(",")

    if user_id in overlap_users:
      book_id = csv_book_mapping[csv_id]
      rec_lines.append([user_id,book_id,rating])

In [7]:
len(overlap_users)

1221

In [8]:
len(rec_lines)

1185736

In [9]:
import pandas as pd

recs = pd.DataFrame(rec_lines, columns=["user_id","book_id","rating"])
recs["book_id"] = recs["book_id"].astype(str)

In [10]:
top_recs = recs["book_id"].value_counts().head(10)
top_recs = top_recs.index.values

In [11]:
book_titles = pd.read_json("book_titles.json")
book_titles["book_id"] = book_titles["book_id"].astype(str)

In [12]:
book_titles.head()

,book_id,title,ratings,url,cover_image,mod_title
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
1,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
2,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls
3,6066812,All's Fairy in Love and War (Avalon: Web of Ma...,98,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,alls fairy in love and war avalon web of magic 8
4,287149,The Devil's Notebook,986,https://www.goodreads.com/book/show/287149.The...,https://images.gr-assets.com/books/1328768789m...,the devils notebook

In [13]:
book_titles[book_titles["book_id"].isin(top_recs)]

,book_id,title,ratings,url,cover_image,mod_title
284473,2767052,"The Hunger Games (The Hunger Games, #1)",4899965,https://www.goodreads.com/book/show/2767052-th...,https://images.gr-assets.com/books/1447303603m...,the hunger games the hunger games 1
323031,41865,"Twilight (Twilight, #1)",3941381,https://www.goodreads.com/book/show/41865.Twil...,https://images.gr-assets.com/books/1361039443m...,twilight twilight 1
477321,1,Harry Potter and the Half-Blood Prince (Harry ...,1713866,https://www.goodreads.com/book/show/1.Harry_Po...,https://images.gr-assets.com/books/1361039191m...,harry potter and the halfblood prince harry po...
569831,5,Harry Potter and the Prisoner of Azkaban (Harr...,1876252,https://www.goodreads.com/book/show/5.Harry_Po...,https://images.gr-assets.com/books/1499277281m...,harry potter and the prisoner of azkaban harry...
878545,3,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,harry potter and the sorcerers stone harry pot...
902688,136251,Harry Potter and the Deathly Hallows (Harry Po...,1784684,https://www.goodreads.com/book/show/136251.Har...,https://images.gr-assets.com/books/1474171184m...,harry potter and the deathly hallows harry pot...
995137,15881,Harry Potter and the Chamber of Secrets (Harry...,1821802,https://www.goodreads.com/book/show/15881.Harr...,https://images.gr-assets.com/books/1474169725m...,harry potter and the chamber of secrets harry ...
1155584,2,Harry Potter and the Order of the Phoenix (Har...,1766895,https://www.goodreads.com/book/show/2.Harry_Po...,https://images.gr-assets.com/books/1507396732m...,harry potter and the order of the phoenix harr...
1195785,319976,"Five Fall Into Adventure (Famous Five, #9)",5401,https://www.goodreads.com/book/show/319976.Fiv...,https://images.gr-assets.com/books/1419180671m...,five fall into adventure famous five 9
1248586,6,Harry Potter and the Goblet of Fire (Harry Pot...,1792561,https://www.goodreads.com/book/show/6.Harry_Po...,https://images.gr-assets.com/books/1361482611m...,harry potter and the goblet of fire harry pott...

In [14]:
all_recs = recs["book_id"].value_counts()

In [15]:
all_recs = all_recs.to_frame().reset_index()

In [16]:
all_recs

         book_id  count
0              3    757
1          15881    689
2              5    674
3              6    673
4         136251    663
...          ...    ...
388603   1673687      1
388604    967529      1
388605   1030180      1
388606  15729856      1
388607  18217286      1

[388608 rows x 2 columns]

In [17]:
all_recs.columns = ["book_id","book_count"]

In [18]:
all_recs = all_recs.merge(book_titles, how="inner", on="book_id")
all_recs

,book_id,book_count,title,ratings,url,cover_image,mod_title
0,3,757,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,harry potter and the sorcerers stone harry pot...
1,15881,689,Harry Potter and the Chamber of Secrets (Harry...,1821802,https://www.goodreads.com/book/show/15881.Harr...,https://images.gr-assets.com/books/1474169725m...,harry potter and the chamber of secrets harry ...
2,5,674,Harry Potter and the Prisoner of Azkaban (Harr...,1876252,https://www.goodreads.com/book/show/5.Harry_Po...,https://images.gr-assets.com/books/1499277281m...,harry potter and the prisoner of azkaban harry...
3,6,673,Harry Potter and the Goblet of Fire (Harry Pot...,1792561,https://www.goodreads.com/book/show/6.Harry_Po...,https://images.gr-assets.com/books/1361482611m...,harry potter and the goblet of fire harry pott...
4,136251,663,Harry Potter and the Deathly Hallows (Harry Po...,1784684,https://www.goodreads.com/book/show/136251.Har...,https://images.gr-assets.com/books/1474171184m...,harry potter and the deathly hallows harry pot...
...,...,...,...,...,...,...,...
349823,1673687,1,Lost for Words,203,https://www.goodreads.com/book/show/1673687.Lo...,https://s.gr-assets.com/assets/nophoto/book/11...,lost for words
349824,967529,1,I'm A Stranger Here Myself,192,https://www.goodreads.com/book/show/967529.I_m...,https://s.gr-assets.com/assets/nophoto/book/11...,im a stranger here myself
349825,1030180,1,A Play On Words,115,https://www.goodreads.com/book/show/1030180.A_...,https://s.gr-assets.com/assets/nophoto/book/11...,a play on words
349826,15729856,1,Tailpieces,44,https://www.goodreads.com/book/show/15729856-t...,https://images.gr-assets.com/books/1345551713m...,tailpieces
349827,18217286,1,21 Things every Girl Should Know,110,https://www.goodreads.com/book/show/18217286-2...,https://images.gr-assets.com/books/1374321101m...,21 things every girl should know

In [19]:
all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"]/ all_recs["ratings"])

In [20]:
all_recs.sort_values("score", ascending=False).head(10)

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
9,319976,589,"Five Fall Into Adventure (Famous Five, #9)",5401,https://www.goodreads.com/book/show/319976.Fiv...,https://images.gr-assets.com/books/1419180671m...,five fall into adventure famous five 9,64.232735
24,735321,497,"Five on a Hike Together (Famous Five, #10)",5217,https://www.goodreads.com/book/show/735321.Fiv...,https://images.gr-assets.com/books/1408926735m...,five on a hike together famous five 10,47.346943
32,557212,468,"Five Have a Wonderful Time (Famous Five, #11)",4795,https://www.goodreads.com/book/show/557212.Fiv...,https://s.gr-assets.com/assets/nophoto/book/11...,five have a wonderful time famous five 11,45.677581
31,557231,477,"Five on Finniston Farm (Famous Five, #18)",4992,https://www.goodreads.com/book/show/557231.Fiv...,https://images.gr-assets.com/books/1319191557m...,five on finniston farm famous five 18,45.578726
29,557229,482,"Five Go Down to the Sea (Famous Five, #12)",5127,https://www.goodreads.com/book/show/557229.Fiv...,https://images.gr-assets.com/books/1322759423m...,five go down to the sea famous five 12,45.313829
38,557226,460,"Five on a Secret Trail (Famous Five, #15)",4754,https://www.goodreads.com/book/show/557226.Fiv...,https://images.gr-assets.com/books/1345299615m...,five on a secret trail famous five 15,44.509886
48,17493,430,"Five Get into a Fix (Famous Five, #17)",4252,https://www.goodreads.com/book/show/17493.Five...,https://s.gr-assets.com/assets/nophoto/book/11...,five get into a fix famous five 17,43.485419
45,17494,447,"Five Have a Mystery to Solve (Famous Five, #20)",4680,https://www.goodreads.com/book/show/17494.Five...,https://s.gr-assets.com/assets/nophoto/book/11...,five have a mystery to solve famous five 20,42.694231
16,557220,532,"Five Get Into Trouble (Famous Five, #8)",6688,https://www.goodreads.com/book/show/557220.Fiv...,https://images.gr-assets.com/books/1408925457m...,five get into trouble famous five 8,42.318182
21,557188,504,"Five Go Off to Camp (Famous Five, #7)",6012,https://www.goodreads.com/book/show/557188.Fiv...,https://images.gr-assets.com/books/1408923348m...,five go off to camp famous five 7,42.251497

In [21]:
popular_recs = all_recs[all_recs["book_count"] > 75].sort_values("score", ascending=False)

In [23]:
def make_clickable(val):
  return '<a target="_blank" href="{}">Goodreads</a>'.format(val)

def show_image(val):
  return '<img src="{}" width=50></img>'.format(val)

popular_recs[~popular_recs["book_id"].isin(liked_book)].head(10).style.format({'url':make_clickable, 'cover_image':show_image})